<div class="businesstoday_ad_chunk_horz bt_marginbtm_main"> <img src="images/ad-hor.png" alt="" title=""> </div>
<div class="businesstoday_footer"> 
    
   <div class="bt-footer">
	<ul class="bt-foot">
<li><a href="" title="">Economy »</a></li>
<li><a href="" title="">Tech »</a></li>
<li><a href="" title="">Corporate »</a></li>
<li><a href="" title="">Opinion »</a></li>
<li><a href="" title="">Markets »</a></li>
<li><a href="" title="">Photos »</a></li>
<li><a href="" title="">Money »</a></li>
<li><a href="" title="">Videos »</a></li>
<li><a href="" title="">Industry »</a></li>
<li><a href="" title="">Magazine »</a></li>
</ul>


	</div>
    <div class="bt-copyright">
      <p>Copyright &copy; 2017 Living Media India Limited.</p>
    </div>
  </div>