<div class="businesstoday_outer_wrapper"> 

<div class="businesstoday_markets_chunk bt_marginbtm_main">
<div class="businesstoday_com_head">
<h2>Markets</h2>
<a href="#" title="more">more »</a> 
</div>
<div class="businesstoday_com_cont">
  

</div>

 </div>

    
    <!--big story chunk-->
    
    <div class="businesstoday_bigstory_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Big Story</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="img_area"> <a href="#" title=""> <img src="http://media2.intoday.in/indiatoday/images/stories/modi-israel_305_070517064357.jpg" alt="" title=""> </a>
        <h1><a href="#" title="Black gold: Tax hike under
GST could boost and illegal 
bullion, jewellery sales">Black gold: Tax hike under
          GST could boost and illegal 
          bullion, jewellery sales</a></h1>
      </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <!--videos chunk-->
    
    <div class="businesstoday_videos_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Videos</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_video"> 
        
        <!-- Swiper -->
        <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-cube">
          <div class="swiper-wrapper" style="transform-origin: 50% 50% -647.5px; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);">
            <div class="swiper-slide swiper-slide-active" style="width: 1295px; transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide swiper-slide-next" style="width: 1295px; transform: rotateX(0deg) rotateY(90deg) translate3d(0px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1295px; transform: rotateX(0deg) rotateY(180deg) translate3d(1295px, 0px, 1295px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1295px; transform: rotateX(0deg) rotateY(270deg) translate3d(-1295px, 0px, 3885px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1295px; transform: rotateX(0deg) rotateY(360deg) translate3d(-5180px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
          <div class="swiper-cube-shadow" style="height: 1295px; transform: translate3d(0px, 667.5px, -647.5px) rotateX(90deg) rotateZ(0deg) scale(0.94);"></div></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    
    <!--Top news chunk-->
    
    <div class="businesstoday_topnews_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Top news</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--ad chunk-->
    
    <div class="businesstoday_ad_chunk"> <img src="images/ad.png" alt="" title=""> </div>
    

    <!--From the mag chunk-->
    
    <div class="businesstoday_fmag_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>From The Mag</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <!--markets chunk-->
    
    <div class="businesstoday_markets_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Markets</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <!--photos chunk-->
    
    <div class="businesstoday_photos_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Photos</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_photo"> 
        
        <!-- Swiper -->
        <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-cube">
          <div class="swiper-wrapper" style="transform-origin: 50% 50% -621.5px; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);">
            <div class="swiper-slide swiper-slide-active" style="width: 1243px; transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide swiper-slide-next" style="width: 1243px; transform: rotateX(0deg) rotateY(90deg) translate3d(0px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1243px; transform: rotateX(0deg) rotateY(180deg) translate3d(1243px, 0px, 1243px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1243px; transform: rotateX(0deg) rotateY(270deg) translate3d(-1243px, 0px, 3729px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <div class="swiper-slide" style="width: 1243px; transform: rotateX(0deg) rotateY(360deg) translate3d(-4972px, 0px, 0px);">
              <div class="outer_area"><a href="#" title="It's an imperfect GST, impact will
take time to and reflect: Anand 
Sharma"> <img src="http://media2.intoday.in/indiatoday/images/stories/kamal-haasan-video_305_070517060838.jpg" alt="" title=""><em></em> <strong>It's an imperfect GST, impact will
                take time to and reflect: Anand 
                Sharma</strong></a></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
          <div class="swiper-cube-shadow" style="height: 1243px; transform: translate3d(0px, 641.5px, -621.5px) rotateX(90deg) rotateZ(0deg) scale(0.94);"></div></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    
    <!--management chunk-->
    
    <div class="businesstoday_management_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Management</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <!--technology chunk-->
    
    <div class="businesstoday_technology_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Technology</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <!--opinion chunk-->
    
    <div class="businesstoday_opinion_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Opinion</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="section">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title=""></a> </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    
    
    
    
  </div>